* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background: white;
}
.header {
  display: grid;
  grid-template-columns: auto auto auto;
  width: Fixed (1920px) px;
  height: Hug (96px) px;
  padding: 16px 354px 16px 354px;
  justify: space-between;
  background: #ffffff;
}

.logo {
  width: 64.16px;
  height: 64px;
  grid-column: 0;
}

.navbar {
  width: Hug (804px) px;
  height: Hug (54px) px;
  gap: 8px;
}

.headerbutton {
  width: Fixed (129px) px;
  height: Fixed (40px) px;
  padding: 11px 16px 11px 16px;
  gap: 12px;
  border-radius: 100px;
  opacity: 0px; /* Đặt opacity là 1 để nút hiển thị rõ */
  border: 1px solid #b90417; /* Đặt màu viền là đỏ */
  background-color: white; /* Màu nền là trắng */
  color: #b90417; /* Màu chữ là đỏ (tương ứng với màu viền) */
  font-size: 14px; /* Kích thước chữ nhỏ lại */
  cursor: pointer; /* Thêm cursor pointer để hiển thị con trỏ khi rê chuột qua */
}

.nav-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  list-style-type: none;
}

.item1 {
  grid-column: 0;
  width: 206px;
  height: 54px;
  border-bottom: 2px;
  padding: 16px 20px 16px 20px;
  gap: 4px;
}

.item2 {
  width: 153px;
  height: 54px;
  border-radius: 100px;
  padding: 16px 20px 16px 20px;
  gap: 8px;
}

.item3 {
  width: 100px;
  height: 54px;
  padding: 16px 20px 16px 20px;
  gap: 8px;
}

.item4 {
  width: 108px;
  height: 54px;
  border-radius: 100px;
  padding: 16px 20px 16px 20px;
  gap: 8px;
}

.item5 {
  width: 125px;
  height: 54px;
  border-radius: 100px;
  padding: 16px 20px 16px 20px;
  gap: 8px;
}

.item6 {
  width: 72px;
  height: 54px;
  border-radius: 100px;
  padding: 16px 20px 16px 20px;
  gap: 8px;
}

.param1 {
  width: 483px;
  height: 156px;
  gap: 0px;
  opacity: 0px;
  font-family: var(--FontFamily);
  font-size: 44px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.param2 {
  width: 500px;
  height: 112px;
  gap: 0px;
  opacity: 0px;
  font-family: var(--FontFamily);
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.form1 {
  width: Fixed (500px) px;
  height: Hug (376px) px;
  top: 204px;
  left: 354px;
  gap: 32px;
  /* opacity: 0px; */
}
.buttontestaudio {
  /* display: grid;
  grid-template-columns: auto  ; */
  width: Fixed (188px) px;
  height: Fixed (56px) px;
  padding: 11px 20px 11px 16px;
  gap: 12px;
  border-radius: 100px;
  opacity: 0px;
  border: 1px solid #b90417; /* Đặt màu viền là đỏ */
  background-color: rgb(255, 0, 0); /* Màu nền là trắng */
  color: #000000; /* Màu chữ là đỏ (tương ứng với màu viền) */
  font-size: 14px; /* Kích thước chữ nhỏ lại */
  cursor: pointer; /* Thêm cursor pointer để hiển thị con trỏ khi rê chuột qua */
}

.buttontuvan {
  width: Fixed (188px) px;
  height: Fixed (56px) px;
  padding: 11px 16px 11px 16px;
  gap: 12px;
  border-radius: 100px;
  border: 1px;
  opacity: 0px;
  border: 1px solid #b90417; /* Đặt màu viền là đỏ */
  background-color: white; /* Màu nền là trắng */
  color: #b90417; /* Màu chữ là đỏ (tương ứng với màu viền) */
  font-size: 14px; /* Kích thước chữ nhỏ lại */
  cursor: pointer; /* Thêm cursor pointer để hiển thị con trỏ khi rê chuột qua */
}

.image1 {
  width: 533.41px;
  height: 444.71px;
  top: 177.42px;
  left: 972px;
  gap: 0px;
  opacity: 0px;
}

.img-wrapper {
  width: Fixed (800px) px;
  height: Fixed (450px) px;
  top: 1118px;
  left: 560px;
  gap: 3px;
  border-radius: var(--MoreRounded);
  opacity: 0px;
  display: flex;
  justify-content: center;
}
//styleName: Headline;
font-family: var(--FontFamily);
font-size: 32px;
font-weight: 700;
line-height: 43.65px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
\
width: 665px;
height: 44px;
top: 788px;
left: 627.5px;
gap: 0px;
opacity: 0px;

width: Fixed (800px)px;
height: Fixed (450px)px;
top: 1118px;
left: 560px;
gap: 3px;
border-radius: var(--MoreRounded);
opacity: 0px;

background: var(--Global-Primary-40, #8A0F1C);

background: var(--Global-Primary-40, rgba(138, 15, 28, 1));
background: var(--Global-Primary-40, rgba(138, 15, 28, 1));
backdrop-filter: blur(10px)



